* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 10vh;
}
.burger-icon {
  display: none;
}

header li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: white;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.logo {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  flex: 1;
  padding-left: 400px;
  font-style: normal;
  font-size: xx-large;
}
main {
  background: linear-gradient(to bottom, black, #99b9da);
}

.who {
  position: relative;
  height: 80vh;
  width: 100%;
  color: rgb(207, 204, 204);
}
.who section {
  position: absolute;
  width: 600px;
  right: 50px;
  top: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.who p {
  font-size: xx-large;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.instructors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 90vw;
  color: white;
  gap: 40px;
  margin-top: 100px;
  margin-left: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.inst {
  border: 3px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.inst p {
  font-size: large;
  border-top: 2px solid white;
  padding-top: 20px;
}
.one {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
  border: none;
  font-size: xx-large;
}
.two {
  grid-column: 1/2;
  grid-row: 2/4;
}
.three {
  grid-column: 2/3;
  grid-row: 2/4;
}
.four {
  grid-column: 3/4;
  grid-row: 2/4;
}
.five {
  grid-column: 1/2;
  grid-row: 4/6;
}
.six {
  grid-column: 2/3;
  grid-row: 4/6;
}
.seven {
  grid-column: 3/4;
  grid-row: 4/6;
}
.built {
  margin-top: 100px;
  height: 50vh;
  display: grid;
  grid-template-areas:
    "first first first"
    "second third fourth"
    "second third fourth"
    "second third fourth";
  
  gap: 40px;
  text-align: center;
  padding: 70px;
}
.first {
  grid-area: first;
  font-size: xx-large;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
}
.fourth {
  grid-area: fourth;
}
.built div {
  border: 1px black solid;
  border-radius: 20px;
  min-width: 25vw;
  max-height: 50vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 grid-template-rows: repeat(2, 1fr);
 justify-content: center;
 align-items: center;
 text-align: center;

}
.built h3 {
  font-size: xxx-large;
  padding-top: 10px;
  grid-column:1 ;
  grid-row: 1/2;
}
.built p {
  font-size: x-large;
  grid-column: 1;
  grid-row: 2/3;
}







@media screen and (max-width: 992px) {
  .burger-icon {
    display: inline-block;
  }
  .nav {
    display: none;
  }
  .icons {
    display: none;
  }

  .logo {
    flex: 0;
    padding-left: 0;
  }
  header {
    padding: 10px;
  }
  .who section {
    position: absolute;
    width: 700px;
    left: 40px;
  }

    .instructors {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: 40px;
      margin-left: 30px;
      justify-content: center;
      text-align: center;
      align-items: center;
    }

    .one {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .two {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .three {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .four {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    .five {
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .six {
      grid-column: 1/2;
      grid-row: 6/7;
    }
    .seven {
      grid-column: 1/2;
      grid-row: 7/8;
    }
  
  .built {
    justify-content: center;
    align-items: center;

  }


}



@media screen and (max-width: 767px) {


  .who p {
    font-size: medium;
  }
  .who h2 {
    font-size: large;
  }
  .who section {
    width: 400px;
  }

}
