* {
  padding: 0;
  margin: 0;
}

main {
  background: linear-gradient(to bottom, black, #99b9da);
}

.academy img {
  border-radius: 40px;
  max-width: 100%;
  display: block;
}

.who-p {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50%;
  font-size: x-large;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.who-p h1 {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px;
  animation-name: typing;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.who-text {
  display: flex;
  gap: 150px;
  text-align: left;
  align-items: center;
  position: relative;
  color: rgb(180, 178, 178);
  padding-left: 50px;
  top: 100px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.instructors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 90vw;
  color: white;
  gap: 40px;
  margin-top: 100px;
  margin-left: 60px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Quattrocento Sans", sans-serif;
}

.inst {
  border: 3px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50px;
  gap: 20px;
  padding: 30px;
}
.inst p {
  font-size: large;
  border-top: 2px solid white;
  padding-top: 20px;
}
.one {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
  border: none;
  font-size: xx-large;
}
.two {
  grid-column: 1/2;
  grid-row: 2/4;
}
.three {
  grid-column: 2/3;
  grid-row: 2/4;
}
.four {
  grid-column: 3/4;
  grid-row: 2/4;
}
.five {
  grid-column: 1/2;
  grid-row: 4/6;
}
.six {
  grid-column: 2/3;
  grid-row: 4/6;
}
.seven {
  grid-column: 3/4;
  grid-row: 4/6;
}
.built {
  margin-top: 100px;
  height: 50vh;
  display: grid;
  grid-template-areas:
    "first first first"
    "second third fourth"
    "second third fourth"
    "second third fourth";

  gap: 40px;
  text-align: center;
  padding: 0 60px 50px 60px;
}
.first {
  grid-area: first;
  font-size: xx-large;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
}
.fourth {
  grid-area: fourth;
}
.built div {
  border: 1px black solid;
  border-radius: 20px;
  min-width: 25vw;
  max-height: 50vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.built h3 {
  font-size: xxx-large;
  padding-top: 10px;
  grid-column: 1;
  grid-row: 1/2;
}
.built p {
  font-size: x-large;
  grid-column: 1;
  grid-row: 2/3;
}
@media (max-width: 992px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .who-text {
    text-align: center;
    margin-left: -50px;
    gap: 40px;
  }
  .academy img {
    border-radius: 0%;
    display: flex;
  }
  .instructors {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .two {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .three {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .four {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .five {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .six {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .seven {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .built {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .built p {
    font-size: medium;
    max-width: 200px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
