* {
  padding: 0;
  margin: 0;
}
main {
  background: linear-gradient(to bottom, black, #99b9da);
  padding: 100px 0 100px 0;
}

.other {
  position: relative;
  height: 70vh;
  background-image: url(./assets/faq.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.other-text {
  background-color: rgba(213, 208, 208, 0.293);
  width: 550px;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  border-radius: 18px;
}
.text {
  width: 400px;
  height: 100px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* box-sizing: border-box; */
  border-radius: 16px;
}
.email {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* box-sizing: border-box; */
  border-radius: 16px;
}
.other button {
  grid-area: span;
  background-color: transparent;
  font-size: 17px;
  height: 50px;
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(203, 203, 203);
  border-image: initial;
  transition: background-color 1.5s;
  color: white;
}

.accordion {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  padding-bottom: 70px;
}
.accordion section {
  width: 900px;
  margin: 5px;
  box-shadow: 0 5px 10px rgb(91, 90, 90);
}
.accordion section details summary {
  padding: 15px;
  background: #05a7a7;
  color: white;
  border: 1px solid #444;
  position: relative;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.accordion p {
  font-size: 15px;
  padding: 10px;
  color: #444;
  background-color: #e6ffff;
}
.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.sponsors h3 {
  font-size: xx-large;
}

.sponsors-img {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

}







@media (max-width: 992px) {
  .accordion section {
    width: 400px;
  }
  .sponsors-img {
    gap: 30px;
  }
}
